button{
    justify-content: center;
    background-color: rgb(68, 72, 128);
    border-radius: 10px;
    width: 100px;
    height: 35;
    color: white;
    
    
}


body{
    justify-content:center;
    width: 600px;
    margin: 50px;
    background-color: rgb(179, 240, 255);
    border-radius: 10px;
    border: 3px solid rgb(9, 0, 88);
    padding: 20px 20px 20px 20px;
    
}


fieldset{
    justify-content: center;
    border-radius: 10px;
}
textarea{
    justify-content: center;
    border: radius 10px;
}
